<h3>Skuldsättning</h3>
<p>
	<b>Från <a href="http://www.borattupplysning.se/wp_brskola/skuldsattning/">Borätt-köparskolan</a>:</b> <br>
	Skuldsättning (belåning) i en bostadsrättsförening <br><br>

	Det handlar om att mäta bostadsrättsföreningens lån eller skuldsättning. Detta är en variant av beräkningstips 1 där vi beräknade föreningens räntekostnader. Men istället räknar vi på föreningens skulder och får ett mer exakt resultat, oberoende av ränteläge och lånevillkor. Men vad ska man jämföra med? <br><br>

	Ett sätt är att jämföra skulden med taxeringsvärdet. Då får man ett värde mellan 0 och 150%. Men eftersom taxeringsvärdet kan skilja mycket mellan stora och små städer, mellan gammalt och nybyggt, och dessutom kan vara inaktuellt, är inte detta någon bra jämförelsemetod. <br><br>

	Mest korrekt och rättvisande är att räkna skuld per kvadratmeter yta (totalyta). Brukar kallas belåning, och är ett mycket vanligt och tillförlitligt mått. Då får man ett värde som brukar ligga någonstans mellan 0 och 15 000 kr/kvm. Problemet är att föreningens totalyta  inte alltid finns angiven i årsredovisningen. Hittar man uppgiften och kan göra beräkningen gäller följande tumregel:  Under 5 000 kr/kvm = bra,  över 10 000 kr/kvm = inte bra. <br><br>

	Enklare och på sätt och vis bäst är att jämföra föreningens skulder med den totala omsättningen (intäkterna). Det ger ett mått på hur skuldtyngd föreningen är, dvs föreningens möjlighet att hantera sina skulder (ungefär som en privatpersons skulder i förhållande till dennes inkomst). Kallas ibland för skuldkvot. Ta långfristiga skulder i balansräkningen (brukar också heta Fastighetslån eller Skulder till kreditinstitut) och dividera med omsättningen (Summa intäkter) överst i resultaträkningen. Värdet brukar bli mellan 1 och 15. <br><br>

	Tumregeln blir i all sin enkelhet:  Under 5 = bra,  över 10 = inte bra,  20 = mycket illa! <br><br>
</p>

<div>
	{{ debt_html | safe }}
</div>