<h3>Räntekostnader</h3>
<p>
	<b>Från <a href="http://www.borattupplysning.se/wp_brskola/rantekostnader/">Borätt-köparskolan</a>:</b> <br>
	Räntekostnader i en bostadsrättsförening <br><br>

	Det absolut snabbaste sättet att få en uppfattning om en bostadsrättsförening är att titta på räntekostnaderna. Räntekostnaden är i många föreningar den största kostnaden, och har därmed störst påverkan på månadsavgiftens storlek. <br><br>

	Beräkningen är mycket enkel att göra. Man letar upp Resultaträkningen, raden Räntekostnader, och jämför med Nettoomsättningen (intäkterna). Man ska inte blanda in ev. ränteintäkter eller räntebidrag, utan enbart titta på den bokförda räntekostnaden. <br><br>

	Är räntekostnaden under 15% av omsättningen är det bra. <br><br>

	Nya eller nybildade föreningar har ofta räntekostnader på 30% eller mer. Då måste de ha höga avgifter för att matcha de stora räntekostnaderna. Annars blir det bara ännu värre i framtiden. <br><br>

	Är räntekostnaden över 40% ska man fråga sig om det verkligen är rätt förening att satsa sina pengar i… <br><br>

	Den stora fördelen med denna beräkning är att den är så enkel att göra, den kan göras på alla slags årsredovisningar, och med enkel snabb huvudräkning. <br><br>

	Tumregeln blir i all sin enkelhet: Under 15% – inga problem, över 30% – problem. <br><br>
</p>

<div>
	{{ interest_costs_html | safe }}
</div>