<h3>UH/AM-utrymme</h3>
<p>
	<b>Från <a href="http://www.borattupplysning.se/wp_brskola/uham-utrymmet/">Borätt-köparskolan</a>:</b> <br>
	Bostadsrättsföreningens ekonomi för underhållet <br><br>
	Den här beräkningen kompletterar den förra, och tillsammans ger de en mycket klar bild av föreningen. Frågan gäller: Är föreningens intäkter tillräckligt stora för att klara framtida underhåll (utan stora avgiftshöjningar)? <br><br>

	Återigen tittar vi på Resultaträkningen. Lägg ihop följande siffror: Reparationer,  Periodiskt underhåll,  Avskrivningar  och  +/- Årets resultat. Summan jämförs med  Nettoomsättningen. <br><br>

	Detta värde kallar vi för  Underhålls- och amorterings-utrymmet  (Uh/am-utrymmet®). <br><br>

	Är värdet över 30% – bra!  Är det under 0 (negativt) – katastrof! <br><br>

	Denna beräkning är den absolut bästa indikatorn på föreningens finansiella styrka. <br><br>

	Man kan uttrycka det så här: Uh/am-utrymmet® bör vara minst 30%, annars är föreningen underfinansierad. Och ju lägre värdet är, desto tidigare kommer styrelsen tvingas till avgiftshöjningar. Och omvänt, är värdet över eller mycket över 30% kan det finnas utrymme för sänkt avgift. <br><br>

	Tumregeln lyder alltså: Uh/am-utrymmet® bör vara minst 30% av omsättningen. För nya och/eller skuldfria föreningar är gränsvärdet ca hälften, 15%. <br><br>

	Den här beräkningsmetoden har vi på BorättUpplysning tagit fram. Det är en snabb och enkel beräkning, som vem som helst kan göra enbart utifrån resultaträkningen. Den ger en tydlig indikation på hur föreningen står sig ekonomiskt. <br><br>
</p>

<div>
	{{ uh_am_html | safe }}
</div>